[submodule "gem5"]
	path = projects/gem5
	url = https://github.com/gem5/gem5.git
	branch = stable
[submodule "rocm-systems"]
	path = projects/rocm-systems
	url = https://github.com/ROCm/rocm-systems.git
	branch = develop
[submodule "llvm-project"]
	path = projects/llvm-project
	url = https://github.com/ROCm/llvm-project.git
	branch = amd-staging
[submodule "triton"]
	path = projects/triton
	url = https://github.com/triton-lang/triton.git
	branch = main
[submodule "pytorch"]
	path = projects/pytorch
	url = https://github.com/pytorch/pytorch.git
	branch = main
[submodule "vllm"]
	path = projects/vllm
	url = https://github.com/vllm-project/vllm.git
	branch = main
[submodule "self-amdgpu-runtime"]
	path = projects/self-amdgpu-runtime
	url = ../self-amdgpu-runtime.git
	branch = main
[submodule "projects/AgentENV"]
	path = projects/AgentENV
	url = https://github.com/kvcache-ai/AgentENV.git
	branch = main
[submodule "projects/WSL2-Linux-Kernel"]
	path = projects/WSL2-Linux-Kernel
	url = https://github.com/microsoft/WSL2-Linux-Kernel.git
	branch = linux-msft-wsl-6.18.y
